.gnb {
    width: 100%;
    position: fixed;
    height: 80px;
    overflow: hidden;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3)
}

.gnb:hover {
    width: 100%;
    position: fixed;
    height: 300px;
    transition: all 0.5s ease-in-out;
    opacity: 0.9;
    border-radius: 0 0 10px 10px;
}
.gnb ul{
    width: 1300px;
    margin: 0 auto;   
}


#brand_info {
    width: 100%;
    height: 2200px;
    background: url(../img/sub_03_bg.png)top center no-repeat;
    background-color: #1b1b1b;
}

#brand_info .brand_txt {
    width: 750px;
    padding: 150px 0px;
    margin: 0 auto;

}

#brand_info h2 {
    font-size: 100px;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
    letter-spacing: 20px;
    text-shadow: 2px 2px 10px #535353;
}

#brand_info h1 {
    margin-top: 120px;
    font-size: 70px;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
    letter-spacing: 10px;
    text-shadow: 2px 2px 10px #535353;

}

.line {
    border-left: 1px solid #fff;
    height: 120px;
    position: relative;
    left: 50%;
    margin-bottom: 40px;
}

#brand_info p {
    text-align: center;
    font-size: 25px;
    color: #fff;
    word-break: keep-all;
    line-height: 1.5;
    text-shadow: 2px 2px 10px #535353;
    
}

#brand_story {
    width: 1200px;
    margin: 0 auto;
}
#brand_story .brand_tit {
    text-shadow: 0px 0px 0px black;
    margin-bottom: 120px;
    
}
#brand_story ul {
    padding-top: 40px;
    
}
#brand_story ul li {
    padding-bottom: 50px;
}
#brand_story ol {
    display: flex;
    flex-flow: row nowrap;
}
#brand_story ol li {
}
#brand_story ol h1 {
    font-size: 40px;
    text-align: left;
    text-shadow: 0px 0px 0px black;
    margin-bottom: 10px;
    margin-top: 10px;
}
#brand_story img {
    padding-right: 20px;
}
#brand_story p {
    
    text-align: left;
    font-size: 20px;
    font-family: "맑은 고딕";
    line-height: 1.2;
}


